<div class="well-large pop">
  <div data-ng-init="changeYear()"></div>
  <div align="center" class="header">
      <h1>USA Gun Violence</h1>
  </div>
  <div>
  <h3 align="center" class="lead">Source of data: <a href="https://www.kaggle.com/jameslko/gun-violence-data/data"> Kaggle Data Set</a></h3>
  </div>
  <div align="center">
    <select ng-change="changeYear()" ng-model="currentYear" ng-options="year.name as year.value for year in years"></select>
  </div>
  <div align="center">
      <img id="glyph" class="glyph" src="./app/img/2018.png" />
      <table class="wt-responsive-table table-striped">
          <thead>
            <tr>
              <th class="text-center span1"><font color="#000000">Month</font></th>
              <th class="text-center span1"><font color="#008000">Injured</font></th>
              <th class="text-center span1"><font color="#ff0000">Killed</font></th>
            </tr>
          </thead>
          <tbody>
            <tr onMouseOver="this.className='highlight'" onMouseOut="this.className='normal'" ng-repeat="month in filteredmonths = (months | filter:{month: monthsearch.month}) | orderBy:['+month']">
              <td class="text-center">{{month.month}}</td>
              <td class="text-center">{{month.n_injured}}</td>
              <td class="text-center">{{month.n_killed}}</td>
            </tr>
          </tbody>
          </table>
  </div>
</div>